div #tab1, div #tab2, div #tab3 {
	padding:10px;
	width:898px;
	background:#fff;
	box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
	border-radius: 0 4px 4px 4px;
}

div #conjuge, div #imovel {
	display:none;
}

.tabs li {
	list-style:none;
	display:inline;
	margin-right: 0;
}
.tabs a {
	padding:10px 20px;
	display:inline-block;
	background:#b3b2b2;
	color:#fff;
	text-decoration:none;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
	box-shadow: 2px 0 2px rgba(0,0,0,0.1);
}
.tabs a.active {
	background:#fff;
	color:#000;
}